<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Music Site GABAGABA</title>

    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
</head>
<body>
    <header>
        <h1>Music Site GABAGABA</h1> 
        <div>サブタイトル的なキャッチコピー</div>
    </header>
    <div id="greeting">
        <p>
            ここに挨拶兼ヘルプ</br>
            選曲した後は「～をもとに選曲しました」とか書くスペース
        </p>
    </div>
    <article>
        <div class="song">
            <span class="songIcon"></span>
            <span class="songName">曲名</span>
            <span class="songArtist">アーティスト名</span>
            <span class="songLength">00:00</span>
        </div>
        <div class="song">
            <span class="songIcon"></span>
            <span class="songName">以降数だけ繰り返し</span>
            <span class="songArtist">アーティスト名</span>
            <span class="songLength">00:00</span>
        </div>

    </article>
    <footer>
        <p>↑</p>
        <small>ここはフッター　上矢印は一番上にあがるやつ(消すかも)　コピーライト</small>
    </footer>

    <script src="./static/js/index.js"></script>
</body>
</html>