.soundCard {
    /* background-color: white; */
    margin: 0 200px 0 200px;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    pointer-events: none;
}

.soundCard h2 {
    margin: 0 0 0 20px;
}

.soundCard td {
    padding: 0 0 0 30px;
}