body {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0px auto;
    /*padding: 1.25em;*/
    background-color: #111111;
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #222222), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #222222),color-stop(.75, #222222), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 4px 4px;
}

::selection {
    background: rgb(116, 65, 139);
    color: #fff;
}

a{
	transition-duration:0.3s;
}

p{
    margin: 0px;
    padding: 1em;
}

h1{
    margin: 0px;
    padding: 0em 1rem;
    font-size: 3em;
    color: #eeeeee;
    font-family: 'Bowlby One SC', cursive;
    text-shadow:3px 3px 5px rgb(116, 65, 139);
}

header{

}

#greeting{
    color: #eeeeee;
    padding:1rem 0px;
    
}

.song{
    color: #aaaaaa;
    transition-duration:0.1s;
    margin: auto 0.2em;
    padding: 0.5em 0.2em;
    border-bottom: solid 1px #aaaaaa;
	overflow:hidden; /*省略する*/
	white-space:nowrap;
    text-overflow:ellipsis;
    padding-left: 1.2em;
}

#songTitle{
    background-color: rgb(116, 65, 139);
    color :#eeeeee;
}

#songTitle:hover::before{
    content: "";
    color: rgb(116, 65, 139);
}

#songTitle:hover{
    background-color:  rgb(116, 65, 139);
    color: #eeeeee;  
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25,  rgb(116, 65, 139)), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5,  rgb(116, 65, 139)),color-stop(.75,  rgb(116, 65, 139)), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 4px 4px;
    padding-left: 1.2rem;
}

.song span{
    display:inline-block;
	overflow:hidden; /*...*/
	white-space:nowrap;
    text-overflow:ellipsis;
}

.song:hover{
    background-color: #444444;
    color: #eeeeee;  
    background-image: -webkit-gradient(linear, 0 0, 100% 100%,color-stop(.25, #222222), color-stop(.25, transparent),color-stop(.5, transparent), color-stop(.5, #222222),color-stop(.75, #222222), color-stop(.75, transparent),to(transparent));
    -webkit-background-size: 4px 4px;
    padding-left: 0px;
}


.song:hover::before{
    content: "▶";
    color: #eeeeee;
}

.songName{
    width: 40%;
}

.songArtist{
    width: 30%;
}

.songLength{
    width: 20%;
}

footer{
    color:#eeeeee;
    /*background: linear-gradient( #444444 0%, #111111 100%);*/
    text-shadow:1px 1px 2px  rgb(116, 65, 139);
    padding: 3em 0px;
    text-align: center;
}